@tailwind base;
@tailwind components;
@tailwind utilities;

.fund-item {
    height: 80px;
    overflow: hidden;
}

.search-item {
    height: 60px;
    overflow: hidden;
}

.search-item:hover {
    height: auto;
}


.fund-item:hover {
    height: auto;
}

.fund-text {
    max-width: 80%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.fund-inner {
    overflow: hidden;
    text-overflow: ellipsis;
}

.fund-item:hover .fund-text .fund-inner{
    overflow: visible;
    white-space: normal;
    text-overflow: unset;
}

.search-item:hover .fund-text .fund-inner{
    overflow: visible;
    white-space: normal;
    text-overflow: unset;
}



